@model DGMLD3.Data.Price

<link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
<h1>Create</h1>

<h4>Pricing</h4>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargeAmount" class="control-label"></label>
                <input asp-for="ChargeAmount" class="form-control" />
                <span asp-validation-for="ChargeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingPer" class="control-label"></label>
                <input asp-for="BillingPer" class="form-control" />
                <span asp-validation-for="BillingPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Features" class="form-control" hidden />
                <div id="editor" style="height: 300px;">
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
        quill.on('text-change', function (delta) {
            var about = document.querySelector('input[name=Features]');
            about.value = quill.root.innerHTML;
        });


    </script>
}
