@model IEnumerable<PricePlan>
<section class="pricing py-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.IsActive)
                {
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center"> @Html.DisplayFor(modelItem => item.Name) Tier</h5>
                                <h6 class="card-price text-center">@Html.DisplayFor(modelItem => item.ChargeAmount)<span class="period">/@Html.DisplayFor(modelItem => item.BillingPer)</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    @Html.Raw(item.Features)
                                   

                                </ul>
                                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-block btn-primary text-uppercase">Select</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-block btn-primary text-uppercase">Edit</a>
                                    
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

