@model IEnumerable<DGMLD3.Data.Price>
<section class="pricing py-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.IsActive)
                {
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center"> @Html.DisplayFor(modelItem => item.Name) Tier</h5>
                                <h6 class="card-price text-center">@Html.DisplayFor(modelItem => item.ChargeAmount)<span class="period">/@Html.DisplayFor(modelItem => item.BillingPer)</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    @Html.Raw(item.Features)
                                    @*<li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Graphs</li>
                                    @if (!item.Name.Contains("Free"))
                                    {
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                    }*@
                                </ul>
                                <a href="#" class="btn btn-block btn-primary text-uppercase">Select</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

